  <!--  Footer  -->
  <footer id="footer" class="footer-section">
    <div class="container">
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a routerLink="/home" class="logo d-flex align-items-center">
                              <img src="assets/images/image.png" alt="logo">
                            </a>
                        </div>
                        <div class="footer-text">
                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                            elit,Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Follow us</span>
                            <a href="https://www.google.com" class="google"><i class="bi bi-google"></i></a>
                            <a href="https://www.linkedin.com" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                      <div class="service-widget footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Services</h3>
                        </div>
                          <ul class="list">
                              <li><a routerLink="/service">Web Design</a></li>
                              <li><a routerLink="/service">App Developemnt</a></li>
                              <li><a routerLink="/service">Cloud Services</a></li>
                              <li><a routerLink="/service">Domain adn Hosting</a></li>
                              <li><a routerLink="/service">Seo Optimization</a></li>
                              <li><a routerLink="/service">Social Media</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-12 footer-column">
                      <div class="service-widget footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Information</h3>
                        </div>
                          <ul class="list">
                            <li><a routerLink="/about">About</a></li>
                            <li><a routerLink="/pricing">Pricing</a></li>
                            <li><a routerLink="/service">Service</a></li>
                            <li><a routerLink="/team">Team</a></li>
                            <li><a routerLink="/portfolio">Portfolio</a></li>
                            <li><a routerLink="/faqs">FAQs</a></li>
                            <li><a routerLink="/news">News</a></li>
                            <li><a routerLink="/blogs">Blogs</a></li>
                            <li><a routerLink="/privacy-policy">Terms & Conditions</a></li>
                            <li><a routerLink="/testimonials">Testinomials</a></li>
                          </ul>
                      </div>
                  </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="contact-widget footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Contacts</h3>
                        </div>
                          <div class="footer-text">
                              <p><i class="bi bi-geo-alt-fill mr-15"></i>R.S.No.590, Office No, 3, First Floor,Shahupuri Complex, Vyapari Peth, Kolhapur</p>
                              <p><i class="bi bi-telephone-inbound-fill mr-15"></i>+91 9518396964</p>
                              <p><i class="bi bi-envelope-fill mr-15"></i>codecrafterservicesgmail.com</p>
                          </div>
                    </div>
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Newsletter</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Don't miss to subscribe to our new feeds, kindly fill the form below.</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="Email Address">
                                <button><i class="bi bi-telegram"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-left text-lg-left">
                    <div class="copyright-text">
                        <p>Code Crafter Services © 2023 - Designed by <a href="https://Github.com/MrSourabhP">Mr.Sourabh Patil</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
  <!-- End Footer -->
